@charset "utf-8";
* {padding: 0; margin: 0;}

.wrapper {
  width: 954px;
  margin: 0 auto;
}
form > label {
  font-size: 16px;
  display: block;
  margin: 10px 0;
}
form > label > span {
  display: inline-block;
  width: 200px;
  text-align: right;
}
form > label > input[type="text"] {
  width: 260px;
}
a {
  color: rgb(54,54,242);
}
form .tip {
  
}
.btn {
  font-size: 14px;
  display: inline-block;
  width: 220px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: linear-gradient(rgb(254,139,74), rgb(239,113,39));
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

textarea {
  margin: 16px 0;
}

.ver img {
  vertical-align: middle;
}
.ver > input[type="text"]{
  width: 120px;
}